## Branching

In [8]:
#Branching is used to run different statements for different input
Age = 28
if (Age > 28):
    print('you are getting old')
else:
    print('You are young')
    print('Enjoy life while at it')

You are young
Enjoy life while at it

In [18]:
#elif is short for else if. It is used to check additional condition
#When the if condition is True and elif condition is false, the if condition runs
Age = 28
if (Age == 28):
    print('you are getting old')
elif(Age < 28):
    print('You are young')
else:
    print('Enjoy life while at it')

you are getting old

In [19]:
#When the if condition is false and elif condition is True, the elif condition runs
Age = 28
if (Age > 28):
    print('you are getting old')
elif(Age == 28):
    print('You are young')
else:
    print('Enjoy life while at it')

You are young

In [22]:
#When the if condition and elif condition are false, the else condition runs
Age = 28
if (Age != 28):
    print('you are getting old')
elif(Age < 28):
    print('You are young')
else:
    print('Enjoy life while at it')

Enjoy life while at it

##  OR Operator

In [24]:
Birth_year = 1994
if(Birth_year < 1980) or (Birth_year > 1989):
    print("The year of birth is in the 90's or 80's")
else:
    print("The year of birth is in the 1980's")

The year of birth is in the 90's or 80's

## AND Operator

In [37]:
Birth_year = 1994
if(Birth_year < 1980) and (Birth_year > 1989):
    print("The year of birth is in the 90's or 80's")
else:
    print("The year of birth is in the 1980's")

The year of birth is in the 1980's

## LOOP

## The For Loop

# Loop performs a task over and over again or execute statement multiple times.

In [2]:
#Using range function to illustrate for loop
tag = range(3,7)
for t in tag:
    print(t)

3
4
5
6

In [48]:
#Iterating data using enumerate
tag = range(3,7)
for i, tag in enumerate (tag):
    print(i)

0
1
2
3

In [8]:
#Print the 10 natural number
num = range(1,11)
for n in num:
    print(n)

1
2
3
4
5
6
7
8
9
10

In [13]:
#Iterating over a sequence is called transversal
#Iterating over a List
shapes = ['circle', 'triangle', 'square']
for s in shapes:
    print(s)

circle
triangle
square

In [5]:
#Iterating over a string
x = 'Chinonso'
for i in x :
    print(i)

C
h
i
n
o
n
s
o

In [15]:
#Iterating over a tuple
houses = ('hut', 'bungalow', 'duplex')
for h in houses:
    print(h)

hut
bungalow
duplex

In [17]:
#Iterating over a dictionary
people = {'Ada':28, 'Efe':52, 'Dave':38, 'Jane':35}
for p in people:
    print('%s  %d' %(p, people[p]))

Ada  28
Efe  52
Dave  38
Jane  35

In [23]:
#Iterating over a dictionary---2
ages = {'Doris':20, 'Tega':34, 'Ebuka':30, 'Juliet':39}
for name in ages.keys():
    print(name,ages[name])

Doris 20
Tega 34
Ebuka 30
Juliet 39

In [19]:
#Iterating over a set
phones = {'samsung', 'iphone', 'nokia'}
for p in phones:
    print(p)

iphone
samsung
nokia

In [25]:
#The for loop is usually set using the python range function. TheÂ range(start, stop, step)
n = 16
for i in range(0,16,3):
    print(i)

0
3
6
9
12
15

In [6]:
#the break statement stops the loop before it loops through the items. 
#Writing the break without a condition prints the first item in the list
fruits = ['Orange', 'Apple', 'Guava']
for f in fruits:
    print(f)
    break

Orange

In [8]:
#Writing the break with a condition prints the condition in the list and stops.
fruits = ['Orange', 'Apple', 'Guava']
for f in fruits:
    print(f)
    if f == 'Apple':
        break

Orange
Apple

In [3]:
#Writing a condition before the break statement, prints the items before the condition in the list and stop.
fruits = ['Orange', 'Apple', 'Guava']
for x in fruits:
    if x == "Guava":
        break
    print(x)

Orange
Apple

## The While Loop

In [4]:
#A while loop only runs if a condition is True.
d = 1
while d < 4:
    print('I love python')
    d = d + 1

I love python
I love python
I love python

In [9]:
z = [2,4,6,8]
i = 1
while i < 8:
    print(i)
    i = i + 1

1
2
3
4
5
6
7

In [3]:
z = [2,4,6,8]
i = 2
while i < 8:
    print(i)
    i = i + 2

2
4
6

## FUNCTIONS

## A function takes an input and produce some output or change. It is a piece of code that can be reused.

In [4]:
#To create a function, we define it using def
def Soup():
    print('Okra Soup')
Soup()

Okra Soup

In [34]:
#An Argument is specified inside the parentheses of a function. Many arguments can be added into the parentheses, ensure they are separate with a comma.
def name(fname):
    print(fname, " " 'Iwuanyanwu')
name('Adanna')
name('Chisom')
name('Chibueze')
name('Uzochukwu')

Adanna  Iwuanyanwu
Chisom  Iwuanyanwu
Chibueze  Iwuanyanwu
Uzochukwu  Iwuanyanwu

In [39]:
#When the number of arguments is not known, an * is added before the parameter(item in the parentheses)
def child(*kids):
    print("The child is " + kids[1])
child("Ada", "Onyinye", "Amara")

The child is Onyinye

In [44]:
#A fucntion can contain more than 2 items in the parameter.
def child(child1, child2, child3):
    print("The child is " + child1)
child(child1 = "Ada", child2 = "Onyinye", child3 = "Amara")

The child is Ada

In [46]:
#When a function is called without an argument, it uses the default value
def nationality(country = "Nigeria"):
    print("I am from " + country)
nationality()
nationality('Canada')

I am from Nigeria
I am from Canada

In [97]:
#Loop can be used in function, and different data types can be used as the argument of a function
#Using tuple data type
def drink(wine):
    for w in wine:
        print(w)
wine = ('Red wine', 'White Wine', 'Soda')
drink(wine)

Red wine
White Wine
Soda

In [106]:
#Using List data types
def food(fruits):
    for f in fruits:
        print(f)
fruits = ['Orange', 'Apple', 'Guava']
food(fruits)

Orange
Apple
Guava

In [74]:
#Function to find the product of numbers
def prac_(x):
    return 5 * x
prac_(2)

10

In [93]:
#Function with multiple parameters to find the product of numbers 
def mult(a,b):
    c = 3*5
    return c
mult(3,5)

15

In [94]:
#Function with multiple parameters to return a string twice
def mult(d,e):
    f = 2 * "michael"
    return f
mult(2,"Michael")

'michaelmichael'

In [103]:
#Function with multiple parameters to find the product of an integer and a float
def mult(g,h):
    i = 4*6.8
    return i
mult(4,6.8)

27.2

In [92]:
#A function cannot be empty put a pass statement to avoid getting an error.
def Noshow():
    pass
print(Noshow())

None

## Exception Handling

# Exception handling uses the Try---Except Statement. This type of statement attempts to execute the code in the Try block. If an error occurs, it kicks out and look for an exception that matches the error. The Except block handles the error. The Else statement is added to give a notification if the code runs successfully or not. The Finally statement is added to tell the program to close the file no matter the end result.

In [1]:
#The Try---Except block. The Try block is wrong because a string cannot divde an integer so the Exception block runs.
try:
    x = 8
    z = '2'
    print(x/z)
except:
    print('Wrong')

Wrong

In [5]:
#The Try block is correct so it will run.
try:
    b = 10
    c = 5
    print(b//c)
except:
    print('Lets see')

2

In [10]:
#The Try block is wrong because a string cannot divde an integer. The variable 'd' was reassigned an integer value so the Exception block runs.
try:
    b = 10
    d = '5'
    print(b/d)
except:
    d = 2
    print(b//d)

5

In [23]:
#The Try block is correct it executes and the else statement notifies that the code ran successfully.
try:
    y = 15
    w = 3
    print(y//w)
except:
    print('Error')
else:
    print('Nice One')

5
Nice One

In [25]:
#The finally statement runs no matter the end result
try:
    y = 15
    w = 3
    print(y//w)
except:
    print('Error')
else:
    print(3//15)
finally:
    print('End')

5
0
End

## Object and Classes

# In Python a class can be defined using the keyword class. An object is an instance of a particular type.

In [2]:
#Creating a Class.The pass keyword is used because the class is empty
class finger:
    pass
print(finger)

<class '__main__.finger'>

In [16]:
#Create a class with its property having a variable x.
class students:
    x = ('Girls', 'Boys')
    
    
#Create an object named after the class created, and print.
humans = students()

print(humans.x)

('Girls', 'Boys')

In [13]:
#Using the __init__ constructor
class family:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
familia = family('Adanna', 28)

print(familia.name)
print(familia.age)

Adanna
28

In [26]:
#The __str__() function
class family:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __str__(self):
        return f"{self.name}({self.age})"

familia = family('Adanna', 28)

print(familia)

Adanna(28)

In [13]:
#Creating a function in a class
class family:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def she(self):
        print("I'm " + self.name)

familia = family('Adanna', 28)

familia.she()

I'm Adanna

In [15]:
#Creating an inheritance
class myself(family):
    pass

familia = family('Adanna', 28)

familia.she()

I'm Adanna