## Data Types In Python

In [1]:
# Integers
a = 20
type(a)

int

In [2]:
#Float
b = 3.5
type(b)

float

In [3]:
#Strings
c = 'Ada'
type(c)

str

In [8]:
#Boolean
d = 7 > 9
print(d)
type(d)

False

bool

In [11]:
e = 4 < 10
print(e)
type(e)

True

bool

## Typecasting

In [52]:
#Cast an int to a float
float(4)

4.0

In [53]:
#Cast a float to an int
int(5.2)

5

In [55]:
#Cast a float to a string
str(3.5)

'3.5'

In [56]:
#Cast an int to a string
str(6)

'6'

In [ ]:
# When a string is cast to a float or an int, it will give an error

## Expression and Variables

In [15]:
#Expression
6 * 9
10 + 39
40 - 36
20 // 10

2

In [18]:
#Variables
numbers = 1, 2, 3
print(numbers)
type(numbers)

(1, 2, 3)

tuple

In [20]:
fruit = 'Grape'
print(fruit)
type(fruit)

Grape

str

## String

In [7]:
#String
name = 'Adanna'
print(name)
other_name = "Iwuanyanwu"
print(other_name)

names = 'Adanna' " " 'Iwuanyanwu'
print(names)

emotion = 'Love' " " * 3
print(emotion)

emotion = 'Love' " " 'Hate'
print(emotion)

Adanna
Iwuanyanwu
Adanna Iwuanyanwu
Love Love Love
Love Hate

In [56]:
colours = 'Red', 'Green','Blue'
print(colours)
type(colours)

('Red', 'Green', 'Blue')

tuple

## List

In [59]:
Cats = ['Pussy cat', 'Lion', 'Tiger','Jaguar', 'Leopard', 'Cheetah']
print(Cats)

['Pussy cat', 'Lion', 'Tiger', 'Jaguar', 'Leopard', 'Cheetah']

In [87]:
#append
Cats.append('Cougar')

['Pussy cat', 'Lion', 'Tiger', 'Jaguar', 'Leopard', 'Cheetah', 'Cougar', 'Cougar']

In [89]:
#Pop
Cats.pop(7)

'Cougar'

In [90]:
print(Cats)

['Pussy cat', 'Lion', 'Tiger', 'Jaguar', 'Leopard', 'Cheetah', 'Cougar']

In [95]:
#Converting a string to a List
Books = 'Steal like an Artist'
Books2= Books.split()
print(Books2)

['Steal', 'like', 'an', 'Artist']

## Tuple

In [96]:
Mammals = ('Human', 'Goat', 'Ape','Cow', 'Monkey','Deer')
print(Mammals)

('Human', 'Goat', 'Ape', 'Cow', 'Monkey', 'Deer')

## Dictionary

In [98]:
Students = {'Ada': 28, 'Chisom':23, 'Nzube':25, 'Akinola':30, 'Haneefa':26}
print(Students)

{'Ada': 28, 'Chisom': 23, 'Nzube': 25, 'Akinola': 30, 'Haneefa': 26}

In [101]:
#To get the keys in a Dictionary 
Students.keys()

dict_keys(['Ada', 'Chisom', 'Nzube', 'Akinola', 'Haneefa'])

In [102]:
#To get the values in a Dictionary 
Students.values()

dict_values([28, 23, 25, 30, 26])

In [4]:
#To sum the values in a dictionary
Item_price = {'Chicken':2000, 'Bread':650,'ChinChin':650, 'Groundnut':750, 'Milo':2500}
Price = Item_price.values()
Total = sum(Price)
print(Total)

6550

## Set

In [10]:
#A set only print unique elements
Name_of_men = {'Ken', 'Jon','Jon', 'Charlie', 'Dave', 'Paul'}
print(Name_of_men)
type(Name_of_men)

{'Dave', 'Jon', 'Paul', 'Charlie', 'Ken'}

set

In [21]:
#Convert a List to a Set by using the function 'set'
Birds = set (['Eagle', 'Kite', 'Dove', 'Pigeon', 'Parrot'])
print(Birds)

{'Dove', 'Eagle', 'Pigeon', 'Parrot', 'Kite'}

In [43]:
#To add an element to a set we use the add method
Birds.add('Ant')
print(Birds)

{'Dove', 'Eagle', 'Ant', 'Hen', 'Pigeon', 'Cock', 'Parrot', 'Kite'}

In [44]:
#To remove an element from a Set we use the remove method
Birds.remove("Ant")
print(Birds)

{'Dove', 'Eagle', 'Hen', 'Pigeon', 'Cock', 'Parrot', 'Kite'}

In [45]:
#To verify if an element is in a set
'Eagle' in Birds

True

In [46]:
"Ant" in Birds

False

In [49]:
#To get elements in two different sets
All_birds = Birds.union(Birds_2)
print(All_birds)

{'Dove', 'Ostrich', 'Eagle', 'Hen', 'Pigeon', 'Sparrow', 'Duck', 'Cock', 'Parrot', 'Kite'}

In [51]:
#To know if a set is a sub set of another set
sets = Birds.issubset(All_birds)
print(sets)

True